body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #a8edea, #fed6e3);
  text-align: center;
  margin: 0;
}
header {
  background-color: #6a11cb;
  color: white;
  padding: 20px;
  border-radius: 0 0 50px 50px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.card {
  background: white;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
footer {
  margin-top: 40px;
  background: #6a11cb;
  color: white;
  padding: 10px;
  border-radius: 50px 50px 0 0;
}
